ClienteAhorcado/Connected Services/ECCI_Ahorcado/ECCI_Ahorcado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ECCI_Ahorcado" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ECCI_Ahorcado" targetNamespace="urn:ECCI_Ahorcado" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ECCI_Ahorcado" />
  </wsdl:types>
  <wsdl:message name="setUpIn" />
  <wsdl:message name="setNombreIn">
    <wsdl:part name="nombre" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="intentarLetraIn">
    <wsdl:part name="letra" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="terminarJuegoIn" />
  <wsdl:message name="getIntentosIn" />
  <wsdl:message name="getIntentosOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getPalabraEscondidaIn" />
  <wsdl:message name="getPalabraEscondidaOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getVictoriaIn" />
  <wsdl:message name="getVictoriaOut">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getLetrasUtilizadasIn" />
  <wsdl:message name="getLetrasUtilizadasOut">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ECCI_AhorcadoPort">
    <wsdl:operation name="setUp">
      <documentation>Ahorcado::setUp() Instancia las variables para un nuevo juego</documentation>
      <wsdl:input message="tns:setUpIn" />
    </wsdl:operation>
    <wsdl:operation name="setNombre">
      <documentation>Ahorcado::setNombre() Instancia la variable de nombre para un nuevo juego</documentation>
      <wsdl:input message="tns:setNombreIn" />
    </wsdl:operation>
    <wsdl:operation name="intentarLetra">
      <documentation>Ahorcado::intentarLetra() Prueba una letra que el usuario digite en el juego</documentation>
      <wsdl:input message="tns:intentarLetraIn" />
    </wsdl:operation>
    <wsdl:operation name="terminarJuego">
      <documentation>Ahorcado::terminarJuego() Termina el juego y reinstancia las variables</documentation>
      <wsdl:input message="tns:terminarJuegoIn" />
    </wsdl:operation>
    <wsdl:operation name="getIntentos">
      <documentation>Ahorcado::getIntentos() Devuelve la cantidad de intentos que le queda al usuario</documentation>
      <wsdl:input message="tns:getIntentosIn" />
      <wsdl:output message="tns:getIntentosOut" />
    </wsdl:operation>
    <wsdl:operation name="getPalabraEscondida">
      <documentation>Ahorcado::getPalabraEscondida() Devuelve la palabra con los caracteres adivinados y _ para faltantes</documentation>
      <wsdl:input message="tns:getPalabraEscondidaIn" />
      <wsdl:output message="tns:getPalabraEscondidaOut" />
    </wsdl:operation>
    <wsdl:operation name="getVictoria">
      <documentation>Ahorcado::getVictoria() Devuelve si el usuario ya ganó </documentation>
      <wsdl:input message="tns:getVictoriaIn" />
      <wsdl:output message="tns:getVictoriaOut" />
    </wsdl:operation>
    <wsdl:operation name="getLetrasUtilizadas">
      <documentation>Ahorcado::getLetrasUtilizadas() Devuelve las letras que el usuario ya ha digitado</documentation>
      <wsdl:input message="tns:getLetrasUtilizadasIn" />
      <wsdl:output message="tns:getLetrasUtilizadasOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECCI_AhorcadoBinding" type="tns:ECCI_AhorcadoPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="setUp">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#setUp" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setNombre">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#setNombre" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="intentarLetra">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#intentarLetra" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="terminarJuego">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#terminarJuego" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getIntentos">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getIntentos" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPalabraEscondida">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getPalabraEscondida" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVictoria">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getVictoria" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLetrasUtilizadas">
      <soap:operation soapAction="urn:ECCI_Ahorcado#Ahorcado#getLetrasUtilizadas" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ECCI_Ahorcado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECCI_AhorcadoService">
    <wsdl:port name="ECCI_AhorcadoPort" binding="tns:ECCI_AhorcadoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr/~eb50657/TP2/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>